@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.text-block {
  margin: 15vw;
  max-width: 800px;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(16px, 4vw, 40px);
  color: #fff;
}

.char {
  will-change: transform;
}
